* {
    box-sizing: border-box;
}
#container {
    width: 960px;
    height: 960px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pixel {
    background-color: red;
    border: 1px solid black;
    height: 60px;
}

.gridRows {
    background-color: green;
    border: 1px solid black;
}