* {
    box-sizing: border-box;
}
#container {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: rgb(187,187,198);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gridRows {
    background-color: transparent;
}
