:root {
    color: #bbbbc6;
    background: #646665;
    --default-text: #f7d89e;
    --default-bg: #222222;
    --classic-text: #646665;
    --classic-bg: #bbbbc6;
    --eagles-text: #a5acaf;
    --eagles-bg: #004c54;
    --phillies-text: #e81828;
    --phillies-bg: #002d72;
    --flyers-bg: #f74902;
    --union-text: #b19b69;
    --union-bg: #071b2c;
}

:root.blackAndWhite {
    color: black;
    background: white;
}

:root.whiteAndBlack {
    color: white;
    background: black;
}

:root.eagles {
    color: var(--eagles-text);
    background: var(--eagles-bg);
}

:root.phils {
    color: var(--phillies-text);
    background: var(--phillies-bg);
}

:root.flyers {
    color: var(--flyers-bg);
    background: black;
}

:root.union {
    color: var(--union-text);
    background: var(--union-bg);
}

:root.classic {
    color: var(--classic-bg);
    background: var(--classic-text);
}

:root.rainbow {
    color: white;
    background: linear-gradient(-25deg, black 45%, rgba(255,0,0,0.5),rgba(255, 127, 0, 0.5),rgba(255, 255, 0, 0.5),rgba(0, 255, 0, 0.5),rgba(0, 0, 225, 0.5),rgba(75, 0, 130, 0.5), rgba(148, 0, 211, 0.5), black 75%);
}

* {
    font-family: Sevillana, 'Dancing Script', 'Times New Roman', serif;
    font-style: italic;
}

.title {
    text-align:center;
}

#page {
    display: flex;
    flex-direction: column;
}

#userInputs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 940px) {
    .buttons {
      flex-direction: row;
    }
  }

button {
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 200px;
    font-size: 1.3em;
    font-weight: 700;
    text-align: left;
}

button:hover {
    cursor: pointer;
}

.border {
    position: relative;
    height: 711px;
    width: 711px;
    margin-top: 10px;
}

.inBorder {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    width: 520px;
    height: 520px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colorPickers {
    text-align: center;
}

.classic, .reset {
    color: var(--classic-text);
    background-color: var(--classic-bg);
}

.blackAndWhite {
    color: black;
    background: linear-gradient(45deg, white, white 60%, black 95%);
}

.whiteAndBlack {
    color: white;
    background: linear-gradient(45deg, black, black 60%, white 95%);
}

.eagles {
    color:var(--eagles-text);
    background:linear-gradient(45deg, var(--eagles-bg) 60%,#A5ACAF 95%);
}

.phils {
    color: var(--phillies-text);
    background: linear-gradient(45deg, var(--phillies-bg) 60%, var(--phillies-text) 95%);
}

.flyers {
    color:#000000;
    background:linear-gradient(45deg, var(--flyers-bg) 60%, #000000 95%)
}

.union {
    color: var(--union-text);
    background-color: var(--union-bg);
    background:linear-gradient(45deg, var(--union-bg) 60%, var(--union-text) 95%)
}

.rainbow {
    color:black;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.pixelSlider {
    width: 100%;
    margin: 0 auto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: var(--classic-bg);
    opacity: 0.7;
    transition: opacity .2s;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--classic-text); /* Green background */
    border: 1px solid var(--classic-bg);
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px;
}

.slider:hover{
    opacity: 1;
}

h2, .currentPixels {
text-align: center;
padding: 0 70px;
}

.gridRows {
    background-color: transparent;
}

.applyUserColors {
    margin-left: 15px;
    border: 2px solid var(--classic-text);
    color: var(--classic-text);
    background: var(--classic-bg);
    text-align: center;
}

.applyUserColors:hover {
    cursor: pointer;
}
